<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.tam.dao.RouteMapper">
  <resultMap id="BaseResultMap" type="com.xxl.tam.model.Route">
    <id column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="route_name" jdbcType="VARCHAR" property="routeName" />
  </resultMap>
  <sql id="Base_Column_List">
    route_id, route_name
  </sql>

</mapper>